#estiloCardLogin {
    background-color: aqua;
    margin-left: 25%;
    margin-right: 25%;
}

.estiloBody{

    background-color:lightgray;
}

#estiloModificarDiagnostico {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}

#estiloCardRecepcionistaPrincipal {
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}